{% extends "wiki/base.html" %} {% load static %} {% block content %} {% block title %} {% endblock %}
<div class="container">
    <!-- Displaying appropriate welcoming messages for users and guests. -->
    {% if user.is_authenticated %} 
    <h2>Welcome to Vikipidia, {{ request.user.username }}!</h2>    
    <h6>You are browsing from {{ request.META.HTTP_USER_AGENT }}, and your IP is {{ request.META.REMOTE_ADDR }}.</h6> 
    {% else %} 
    <h2>Welcome to Vikipidia, Guest!</h2>
    <h6>You are browsing from {{ request.META.HTTP_USER_AGENT }}, and your IP is {{ request.META.REMOTE_ADDR }}.</h6> 
    {% endif %}
    <!-- Screen resolution function -->
    <a onclick="myFunction()" id="demo" style="color:rgb(20, 100, 53)">Click here to find out your screen
        resolution!</a>
    <hr />
    <!-- How to create a new page -->
    <h5>To create a new page, simply click after the 'wiki/' bit on the search bar at the top, and type in the name of
        your desired page.</h5>
    <h6>Below are the pages that have been already created. It is possible to create new pages and edit existing ones,
        however you must be logged in.</h6>
    <!-- If there are pages, display them as a list -->
        {% if pages %}
    <ul class="list-group">
        {% for page in pages %}
        <li class="list-group-item list-group-item-action">
            <a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <!-- If there aren't any, display the paragraph -->
    {% else %}
    <p>No pages are available at this time.</p>
    {% endif %}
</div>
<script>
    /* Screen resolution function */
    function myFunction() {
        var x = "Your screen resolution is: " + screen.width + "x" + screen.height + " (" + screen.width + " pixels wide and " + screen.height + " pixels tall)";
        document.getElementById("demo").innerHTML = x;
    }
</script>

{% endblock content %}