{% extends "wiki/base.html" %}
{% load static %}

{% block content %}

{% block title %}
{% endblock %}
<div class="container">
    <img src="{% static 'wiki/images/googledoodle.png' %}">
    <h2>Welcome to Vikipidia!</h2> <h4>Right now it is only but a WIP wiki that can only be run locally.</h4>
    {% if user.is_authenticated%}
    Welcome {{ request.user.username }}! You are browsing from {{ request.META.HTTP_USER_AGENT }}, from {{ request.META.REMOTE_ADDR }}.
    {% else %}
    Welcome! You are browsing from {{ request.META.HTTP_USER_AGENT }}, from {{ request.META.REMOTE_ADDR }}.
    {% endif %}
    
    {% if pages %}
    <ul class="list-group">
        {% for page in pages %}
        <li class="list-group-item list-group-item-action"><a
                href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pages are available at this time.</p>
    {% endif %}
</div>
{% endblock content %}