{% extends "wiki/base.html" %} {% load static %} {% block content %} {% block title %} {% endblock %}
<div class="container">
    <!-- <img src="{% static 'wiki/images/googledoodle.png' %}"> -->
    <h2>Welcome to Vikipidia!</h2>
    <h4>This wiki can only be run locally.</h4>
    {% if user.is_authenticated%}
    <h6>Welcome {{ request.user.username }}! You are browsing from {{ request.META.HTTP_USER_AGENT }}, from {{ request.META.REMOTE_ADDR
        }}. {% else %} Welcome! You are browsing from {{ request.META.HTTP_USER_AGENT }}, from {{ request.META.REMOTE_ADDR }}.
    </h6>
    {% endif %}
    <hr />
    <!-- <p id="demo" class="centre"></p> -->

    <hr />
    <h5>To create a new page, simply click after the 'wiki/' bit on the search bar at the top, and type in the name of your desired
        page. </h5>
    <h6>Below are the pages that have been already created. It is possible to create new pages and edit existing ones, however
        you must be logged in.</h6>
    {% if pages %}
    <ul class="list-group">
        {% for page in pages %}
        <li class="list-group-item list-group-item-action">
            <a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pages are available at this time.</p>
    {% endif %}
</div>
{% endblock content %}