{% extends "wiki/base.html" %}

{% block content %}
<title>
    Login Page
</title>

{% if next %}
{% if user.is_authenticated %}
<h4 class="centre">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</h4>
{% else %}
<h4 class="centre">You must login to see this page.</h4>
{% endif %} {% endif %}
{% if form.errors %}
<h5 class="centre">Your username and password didn't match. Please try again.</h5>
{% endif %}
<div class="container">
    <h6 class="centre">This is the Login page. If you wish to edit pages or upload files, you must login. To go back,
        click the Homepage button at the top.</h6>
    <form method="post" action="{% url 'wiki:login' %}">
        {% csrf_token %}
        <table class="table display-6">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input class="btn btn-lg" id="loginedit" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <hr />
</div>
{% endblock %}