{% extends "wiki/base.html" %}

{% block content %}
<style>
    body {
        background-color: #343A40;
}
</style>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="container">
    <form method="post" action="{% url 'wiki:login' %}">
        {% csrf_token %}
        <table class="table table-dark display-4">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input class="display-4" type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>

{% endblock %}